body {
    background: #FAEBD7;
}

h2 {
    color: #9B4222;
    padding-left: 20px;
    font-weight: bold;
}

h4 {
    padding-left: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

h4 {
    color: #9B4222;
    font-size: 22px;
}

ul {
  list-style: none;
  padding-left: 20px;
}

i {
  margin: 20px;
  font-family: sans-serif;
  font-size: 20px;
  color: #3b0c1b;
  padding-left: 20px;
}

nav {
  display: block;
  width: 100%;
  margin: 0 auto 35px;
}

.menu ul {
  display: -webkit-flex;
  display: flex;
  background: #FFD7A7;
}

.menu a {
  padding: 20px;
  line-height: 40px;
  font-size: 25px;
  font-weight: bold;
  font-variant: small-caps;
  display: block;
  color: #9B4222;
  background: rgba(255, 171, 81, .3);
}

.menu a:hover {background: #FFDEAD}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background: #FFD7A7;
    color: #9B4222;
    font-size: 17px;
}

img {
    margin-top: 20px;
    margin-left: 20px;
}

ul.specifications {
    margin: 20px;
    font-size: 20px;
    color: #3b0c1b;
    font-family:sans-serif;
    list-style-image: url(../icon.png);
    margin-left: 60px;
}

.section {
  height: 750px;
  overflow-y: auto;
}

.link{
    width: 15px;
    height: 10px;
}

.flexthing {
    display: flex;
    align-items:center;
    justify-content:flex-start;
    color: #3b0c1b;
    font-size: 25px;
    font-style:italic;
}

.imagg {
    width: 15px;
    height: 10px;
}

div {
  font-family: sans-serif;
  font-size: 15px;
  color: #3b0c1b;
}

div.hthings {
  font-size: 18px;
  font-weight: bold;
}